/* Genel düzenleme ve renk şeması */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Ana Giriş Bölümü */
#home {
    text-align: center;
    padding: 50px 0;
    background-color: #222;
    color: white;
}

.author-image {
    width: 300px;
    border-radius: 50%;
}

.quote {
    font-style: italic;
    margin-top: 20px;
}

/* Biyografi Bölümü */
#bio {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

#bio h2 {
    color: #333;
}

#bio p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

/* Eserler Bölümü */
#books {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

#books h2 {
    color: #333;
}

#books ul {
    list-style-type: none;
    padding: 0;
}

#books ul li {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

/* Footer Bölümü */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
